@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: all .5s linear;
    font-family: 'Montserrat', sans-serif;
}
h1,h2,p{
    font-family: 'Montserrat';
    font-weight: 600;
    color: #020655;
}
span{
    font-family: 'Montserrat';
    font-weight: 400;
    color: #020655;
}
